<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">
        </script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js">
        </script>
{#        <script type="text/javascript" src="https://www.google.com/jsapi"></script>#}
{#        <script type="text/javascript">#}
{#              google.load("visualization", "1", {packages:["treemap"]});#}
{#              google.setOnLoadCallback(drawChart);#}
{#              function drawChart() {#}
{#                var data = google.visualization.arrayToDataTable([#}
{#                  ['Location','Parent','Market trade volume (size)','Market increase/decrease (color)'],#}
{#                  ['Global',null,0,0],#}
{#                  ['Github','Global',{{ points_github }},10],#}
{#                  ['codecademy','Global',{{ points_codecademy }},20],#}
{#                  ['Teamtreehouse','Global',3,5],#}
{#                  ['America',   'Global',             0,                               0],#}
{#                  ['Europe',    'Global',             0,                               0],#}
{#                  ['Asia',      'Global',             0,                               0],#}
{#                  ['Australia', 'Global',             0,                               0],#}
{#                  ['Africa',    'Global',             0,                               0],#}
{#                  ['Brazil',    'Global',            11,                              10],#}
{#                  ['USA',       'America',            52,                              31],#}
{#                  ['Mexico',    'America',            24,                              12],#}
{#                  ['Canada',    'America',            16,                              -23],#}
{#                  ['France',    'Europe',             42,                              -11],#}
{#                  ['Germany',   'Europe',             31,                              -2],#}
{#                  ['Sweden',    'Europe',             22,                              -13],#}
{#                  ['Italy',     'Europe',             17,                              4],#}
{#                  ['UK',        'Europe',             21,                              -5],#}
{#                  ['China',     'Asia',               36,                              4],#}
{#                  ['Japan',     'Asia',               20,                              -12],#}
{#                  ['India',     'Asia',               40,                              63],#}
{#                  ['Laos',      'Asia',               4,                               34],#}
{#                  ['Mongolia',  'Asia',               1,                               -5],#}
{#                  ['Israel',    'Asia',               12,                              24],#}
{#                  ['Iran',      'Asia',               18,                              13],#}
{#                  ['Pakistan',  'Asia',               11,                              -52],#}
{#                  ['Egypt',     'Africa',             21,                              0],#}
{#                  ['S. Africa', 'Africa',             30,                              43],#}
{#                  ['Sudan',     'Africa',             12,                              2],#}
{#                  ['Congo',     'Africa',             10,                              12],#}
{#                  ['Zaire',     'Africa',             8,                               10]#}
{#                ]);#}
{##}
{#                tree = new google.visualization.TreeMap(document.getElementById('chart_div'));#}
{##}
{#                tree.draw(data, {#}
{#                  minColor: '#f00',#}
{#                  midColor: '#ddd',#}
{#                  maxColor: '#0d0',#}
{#                  headerHeight: 15,#}
{#                  fontColor: 'black',#}
{#                  showScale: true#}
{#                });#}
{##}
{#              }#}
{#        </script>#}
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="http://ep09.pld-linux.org/~mmazur/DrasticTreemapGApi/DrasticTreemapGApi.js"></script>
        <script type="text/javascript">
            google.load("visualization", "1");
            google.load("swfobject", "2.2");

            // Set callback to run when API is loaded
            google.setOnLoadCallback(drawVisualization);

            // Called when the Visualization API is loaded.
            function drawVisualization() {

            // Create and populate a data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Product');
            data.addColumn('string', 'Type');
            data.addColumn('number', 'East');
            data.addColumn('number', 'West');
            data.addColumn('number', 'South');
            data.addRows([
              ['Green beans', 'Vegetables', 100, 100, 400],
              ['Avocado', 'Vegetables', 50, 400, 300],
              ['Tomatos', 'Vegetables', 200, 400, 500],
              ['Cucumbers', 'Vegetables', 500, 1000, 700],
              ['Apples', 'Fruit', 1700, 2300, 2000],
              ['Bananas', 'Fruit', 800, 700, 600],
              ['Oranges', 'Fruit', 200, 300, 100],
              ['Pineapples', 'Fruit', 100, 150, 500],
              ['Broccoli', 'Vegetables', 800, 1000, 900],
              ['Wholemeal', 'Bread', 250, 100, 300],
              ['Bagels', 'Bread', 120, 300, 200],
              ['Baguette', 'Bread', 50, 300, 200],
              ['Ciabatta', 'Bread', 200, 300, 400],
              ['Croissants', 'Bread', 400, 600, 200],
              ['white bread', 'Bread', 500, 200, 300]
            ]);

            // Instantiate our object.
            var vis = new drasticdata.DrasticTreemap(document.getElementById('thediv'));

            // Draw the treemap with the data we created locally and some options:
            vis.draw(data, {
                groupbycol: "Type",
                labelcol: "Product",
                variables: ['East', 'West', 'South']
                }
            );
           }
        </script>
        {{ form.media }}
{# end of django datepicker#}
    </head>

    <body>
        <div class="container">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">{% block content %}Student-tracker{% endblock %}</a>
            </div>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="/addlinks/">Add links</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/userprofile/{{ user.username }}"> {{user.username|upper}}</a></li>
                        <li><a href="/user/logout/">logout</a></li>
                    {% else %}
                        <li><a href="/user/register/">Register</a></li>
                        <li><a href="/user/login/">login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </div>
        {% block body_block %}This is {{ user.username }}{% endblock %}
    </body>
</html>