<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
{#        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">#}
{#        <link rel="stylesheet"#}
{#              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">#}
{#        <link rel="stylesheet"#}
{#              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">#}
{#        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">#}
{#        </script>#}
{#        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js">#}
{#        </script>#}

{############ jqwidgets links ####################}

        <script src="{% static 'jqwidgets-ver3.6.0/scripts/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'jqwidgets-ver3.6.0/jqwidgets/jqxcore.js' %}"></script>
        <script src="{% static 'jqwidgets-ver3.6.0/jqwidgets/jqxdata.js' %}"></script>
        <script src="{% static 'jqwidgets-ver3.6.0/jqwidgets/jqxtreemap.js' %}"></script>
        <script type="text/javascript" src="{% static 'jqwidgets-ver3.6.0/scripts/demos.js' %}"></script>
        <link rel="stylesheet" href="{% static 'jqwidgets-ver3.6.0/jqwidgets/styles/jqx.base.css' %}"/>

{######## end of jqwidgets #######################}

        <script type="text/javascript">
            $(document).ready(function () {

                var data = {{ jsonstacklist|safe }};
                var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'id' },
                        { name: 'parentid' },
                        { name: 'text' },
                        { name: 'value' },
                        { name: 'color'}
                    ],
                    id: 'id',
                    localdata: data
                };

                // create data adapter.
                var dataAdapter = new $.jqx.dataAdapter(source);

                // perform Data Binding.
                dataAdapter.dataBind();
                // get the treemap sectors. The first parameter is the item's id. The second parameter is the parent item's id. The 'items' parameter represents
                // the sub items collection name. Each jqxTreeMap item has a 'label' property, but in the JSON data, we have a 'text' field. The last parameter
                // specifies the mapping between the 'text' and 'label' fields.
                var records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label' }]);
                $('#treemap').jqxTreeMap({
                    width: 800,
                    height: 800,
                    source: records,
                    colorRange: 50,
                    renderCallbacks: {
                        '*': function (element, data) {
                            element.html('<span style="font-size: 18px;" class="jqx-treemap-label">' + data.label + '</span>');
                			return true;
                            if (!data.parent) {
                                element.css({
                                    backgroundColor: '#fff',
                                    border: '5px solid #000',
                                });
                            }
                            else {
                                var nThreshold = 105;
                                var bgDelta = (data.rgb.r * 0.299) + (data.rgb.g * 0.587) + (data.rgb.b * 0.114);
                                var foreColor = (255 - bgDelta < nThreshold) ? 'Black' : 'White';
                                element.css({
                                    color: foreColor
                                });
                            }
                        }
                    }
                });
            });
        </script>

        {{ form.media }}
{# end of django datepicker#}
    </head>

    <body>

        <div class="container">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">Student-tracker</a>
            </div>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="/addlinks/">Add links</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/userprofile/{{ user.id }}"> {{user.username|upper}}</a></li>
                        <li><a href="/user/logout/">logout</a></li>
                    {% else %}
                        <li><a href="/user/register/">Register</a></li>
                        <li><a href="/user/login/">login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </div>
        {% block body_block %}This is {{ user.username }}{% endblock %}
    </body>
</html>