<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
        <link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">
        </script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js">
        </script>
        <script src="{% static 'jqwidgets-ver3.6.0/scripts/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'jqwidgets-ver3.6.0/jqwidgets/jqxcore.js' %}"></script>
        <script src="{% static 'jqwidgets-ver3.6.0/jqwidgets/jqxtooltip.js' %}"></script>
        <script src="{% static 'jqwidgets-ver3.6.0/jqwidgets/jqxtreemap.js' %}"></script>
        <script type="text/javascript" src="{% static 'jqwidgets-ver3.6.0/scripts/demos.js' %}"></script>
        <link rel="stylesheet" href="{% static 'jqwidgets-ver3.6.0/jqwidgets/styles/jqx.base.css' %}"/>
        <script>
        $(function () {
            var data = [
            {
                label: 'Github',
                value: null,
                color: null
            },
            {
                label: 'Codecademy',
                value: null,
                color: null
            },
            {
                label: 'TeamTreehouse',
                value: null,
                color: null
            },

            {
                label: 'Python',
                value: 4,
                color: '#FF0000',
                parent: 'Codecademy',
                data: { description: "As students at the Navy's elite fighter weapons school compete to be best in the class, one daring young flyer learns a few things from a civilian instructor that are not taught in the classroom.", title: "Top Gun (1986)" }
            },
            {
                label: 'Python',
                color: '#FF0000',
                value: 4.5,
                parent: 'Github',
                data: { description: "A Naval veteran arrives home from war unsettled and uncertain of his future - until he is tantalized by The Cause and its charismatic leader.", title: "The Master (2012)" }
            },
            {
                label: 'Javascript',
                color: '#FFFF00',
                value: 6.8,
                parent: 'Codecademy',
                data: { description: "A dramatization of the 1980 joint CIA-Canadian secret operation to extract six fugitive American diplomatic personnel out of revolutionary Iran.", title: "Argo (2012)" }
            },
            {
                label: 'Css',
                color: '#00FFFF',
                value: 8.8,
                parent: 'Codecademy',
                data: { description: "An insomniac office worker looking for a way to change his life crosses paths with a devil-may-care soap maker and they form an underground fight club that evolves into something much, much more.", title: "Fight Club (1999)" }
            },

            {
                label: 'Python',
                color: '#FF0000',
                value: 8.9,
                parent: 'TeamTreehouse',
                data: { description: "When Batman, Gordon and Harvey Dent launch an assault on the mob, they let the clown out of the box, the Joker, bent on turning Gotham on itself and bringing any heroes down to his level.", title: "The Dark Knight (2008)" }
            },
            {
                label: 'Javascript',
                color: '#FFFF00',
                value: 6.0,
                parent: 'TeamTreehouse',
                data: { description: "The lives of two mob hit men, a boxer, a gangster's wife, and a pair of diner bandits intertwine in four tales of violence and redemption.", title: "Pulp Fiction (1994)" }
            },


            {
                label: 'Javascript',
                color: '#FFFF00',
                value: 10.8,
                parent: 'Github',
                data: { description: "Luke Skywalker, a spirited farm boy, joins rebel forces to save Princess Leia from the evil Darth Vader, and the galaxy from the Empire's planet-destroying Death Star..", title: "Star Wars: Episode IV - A New Hope (1977)" }
            },

            {
                label: 'Css',
                color: '#00FFFF',
                value: 4.3,
                parent: 'Github',
                data: { description: "Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers, and supposedly Jewish jewelers fight to track down a priceless stolen diamond.", title: "Snatch (2000)" }
            },


            {
                label: 'Css',
                color: '#00FFFF',
                value: 5.6,
                parent: 'TeamTreehouse',
                data: { description: "A thief with a unique code of professional ethics is double-crossed by his crew and left for dead. Assuming a new disguise and forming an unlikely alliance with a woman on the inside, he looks to hijack the score of the crew's latest heist.", title: "Parker (1994)" }
            },


            ];



            $('#treemap').jqxTreeMap({
                width: 600,
                height: 600,
                source: data,
                colorRange: 50,
                renderCallbacks: {
                    '*': function (element, value) {
                        if (value.data) {
                            element.jqxTooltip({
                                content: '<div><div style="font-weight: bold; max-width: 200px; font-family: verdana; font-size: 13px;">' + value.data.title + '</div><div style="width: 200px; font-family: verdana; font-size: 12px;">' + value.data.description + '</div></div>',
                                position: 'mouse',
                                autoHideDelay: 6000,
                                theme: theme
                            });
                        } else if (value.data === undefined) {
                            element.css({
                                backgroundColor: '#fff',
                                border: '6px solid #000'
                            });
                        }
                    }
                }
            });
        });
</script>
        {{ form.media }}
{# end of django datepicker#}
    </head>

    <body>
        <div class="container">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">{% block content %}Student-tracker{% endblock %}</a>
            </div>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="/addlinks/">Add links</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/userprofile/{{ user.username }}"> {{user.username|upper}}</a></li>
                        <li><a href="/user/logout/">logout</a></li>
                    {% else %}
                        <li><a href="/user/register/">Register</a></li>
                        <li><a href="/user/login/">login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </div>
        {% block body_block %}This is {{ user.username }}{% endblock %}
    </body>
</html>