{% extends 'studentracker/base.html' %}
{% block body_block %}
    <br><br><br><br>
{#    {{ jsonstacklist }}#}
    <div class="container">
        <div class="row">
            <div id="treemap"></div><br>
            <div class="col-md-4">
                <div><b>Github-Repo names</b></div>
                <div>{% for key in githublist %}
                        <b>{% ifchanged %}<br><br>{{key.reponame}}{% endifchanged %}</b><br>
                        {{ key.stack }}: {{ key.bytes }} bytes
                        {% endfor %}
                        <br>
                </div><br>
            </div>
            <div class="col-md-4">
                <div><b>codecademy-courses completed</b></div><br>
                <div>{% for link in codecademylist %}
                        {{ forloop.counter }} .
                        {{ link }}<br>
                    {% endfor %}<br>
                </div>
            </div>
            <div class="col-md-4">
                <div><b>Team Tree House</b></div><br>
                <div>{% for link in treehouselist %}
                        {{ forloop.counter }} .
                        {{ link.coursename }} - {{ link.points }}-points<br>
                {% endfor %}<br>
                </div>
                <br>
            </div>
            <div class="col-md-4">
                <div><b>Code-Wars</b></div><br>
                <div>{% for link in codewarslist %}
                    {{ forloop.counter }}
                    Language - {{ link.language }}<br>
                    Honors - {{ link.honors }}<br>
                    Rank - {{ link.rank }}<br>
                    Completed challenges - {{ link.completedchallenges }}
                    {% endfor %}<br>
                </div>
            </div>
            <div class="col-md-4">
                <div><b>Work-exp</b></div><br>
                <div>{% for link in personalprofilelist %}
                        <div>Profile : {{ link.workex }}</div>
                        <div>{{ link.stack1 }} : {{ link.point1 }} yrs</div>
                        <div>{{ link.stack2 }} : {{ link.point2 }} yrs</div>
                        <div>{{ link.stack3 }} : {{ link.point3 }} yrs</div>
                        <div>{{ link.stack4 }} : {{ link.point4 }} yrs</div>
                {% endfor %}<br>
                </div>
                <br>
            </div>
        </div>
        </div>
    </div>
{% endblock %}